@import 'reset';
$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";

@import 'font-awesome';
@import 'bourbon';
@import 'neat';



li{

  display:inline;
  position:relative;


}

.price {
  font-size:30px;
  color: red;


}

.words{
  font-size:13px;

}

button{

}


