
 h2
{
  font-size:30px;
color:orange;

    font-family:cursive;



}


.col p span{
  box-shadow:0 0 35px 0;
  border-radius:10px;
  background-color:gold;
  text-align:center;

}






 h2  span{

  border-radius:10px;

   float:right;
   background-color:blue;

}


img {

   display:inline-block;
   height: 250px;
}
